@{
    ViewData["Title"] = "Home Page";
    var data = TempData["Navbar"];
    ViewData["navbar"] = data;

}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function () {
        var d='@ViewData["navbar"]';
     if(d=="True"){
         alert("Login Successfull");
     }
    });

</script>

<h1>Index</h1>